@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "DoctorGlitch";
  src: local("DoctorGlitch"),
    url("./fonts/doctorGlitch/Dotor-Glitch.otf") format("truetype");
  font-weight: bold;
}
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.home {
  background-image: url("./images/bg2.jpeg");
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 90px;
  font-family: "DoctorGlitch";
  color: #f28e52;
}

.subTitle {
  font-size: 60px;
  font-family: "Bebas Neue", cursive;
  color: white;
  line-height: 2.9rem;
  text-align: center;
}

.form {
  background: rgba(255, 255, 255, 0.726);
}

.partnersResponsive {
  display: none;
}

@media (max-width: 640px) {
  .home {
    background-size: cover;
    background-position: bottom;
  }
  .navSocial {
    display: none;
  }
  .subTitle {
    font-size: 40px;
    width: 100vw;
    margin: 0;
    text-align: center;
    line-height: 1.9rem;
  }
  .animate {
    margin: auto;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 80px;
    text-align: center;
    line-height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .form {
    width: 90vw;
    padding: 1rem;
    justify-content: center;
  }
  .partners {
    display: none;
  }
  .partnersResponsive {
    display: grid;
    margin: auto;
    padding: 1rem;
    width: 100vw;
    margin-bottom: 2rem;
    justify-items: center;
  }
}

.animate {
  animation: rotation 6s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(359deg);
  }
}
